html,
body {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  margin: 0;
  background-color: white;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.main {
  height: 30rem;
  padding-top: 1rem;
  background-image: url('https://plus.unsplash.com/premium_photo-1675237625862-d982e7f44696?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8Y29mZmVlJTIwYmVhbnN8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.main img {
  width: 15rem;
  display: block;
  margin: auto;
  margin-top: 5rem;
}

nav {
  
  color: White;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

ul {
  list-style: none;
  margin: 0;
 
}

li {
  color: whitesmoke;
  display: inline-block;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.supporting,
.rating,
.gallery,
.location {
  margin: 4em auto;
}

.supporting {
  display: flex;
  align-items: flex-start;
  padding: 0 1rem;
}

.supporting img {
  margin-right: 5%;
  height: 10%;
  width: 10%

}

.rating {
  background-color: OrangeRed;
  height: 20rem;
  padding: 0 1rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rating h1 {
  font-size: 2.5rem;
}

.gallery img {
  display: block;
  width: 30%;
  margin: 1.5%;
  float: left;
}

.clearfix {
  clear: both;
}

.location {
  text-align: center;
  margin-bottom: 7rem;
}

.location img {
 width: 100%
}

footer {
  background-color: OrangeRed;
  padding: 0 1rem;
}

footer .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5em 0;
  color: white;
}

@media only screen  and (max-width: 960px){
  .main {
    padding-top: 0;
  }

}
@media only screen and (max-width: 700px ) {
  .supporting img {
    display: none;
  }
}
@media only screen and (max-width: 470px) {
  .rating h1 {
    font-size: 1rem;
  }
  .gallery img {
    width: 100%;
    margin: 0 auto;
  }
  footer  nav{
   display: none;
  }
}